/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  margin-block: 100px;
  font-family: var(--main-font), Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-variation-settings: 'wght' var(--text-font-weight);
  background-image: var(--bg-image);
  background-size: cover;
  background-attachment: fixed;
}

.header {
  font-family: var(--accent-font), fantasy, Arial, Helvetica, sans-serif;
  padding-block: var(--header-padding-block);
  text-align: center;
  border: 2px solid var(--main-color);
  block-size: min-content;
  margin-block-end: 100px;
}

.section-wrapper {
  inline-size: var(--section-width);
  background-color: var(--bg-color);
  border: 2px solid var(--main-color);
  margin-inline: auto;
}

.header__logo {
  font-size: var(--header-logo-font-size);
  margin-block-end: 20px;
}

.header__title {
  font-size: var(--header-title-font-size);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.card__title {
  font-variation-settings: 'wght' var(--title-font-weight);
  font-size: 18px;
  margin-inline: 10px;
  margin-block: 3px;
  padding-block: 3px;
}

.image-wrapper {
  position: relative;
  block-size: var(--img-height);
  border-block-start: 2px solid var(--main-color);
  border-block-end: 2px solid var(--main-color);
}

.label {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--accent-font), fantasy, Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  mix-blend-mode: hard-light;
  opacity: 50%;
  text-shadow: 0 0 var(--bg-color);

  @media (width < 376px) {
    right: 12px;
  }
}

@supports (text-stroke: 1px var(--bg-color)) or (-webkit-text-stroke: 1px var(--bg-color)) {
  .label {
    -webkit-text-stroke: 1px var(--bg-color);
    text-stroke: 1px var(--bg-color);
    text-shadow: none;
  }
}

.image {
  inline-size: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
}

.text-block {
  padding: 21px 25px 25px;
  line-height: 21px;
}

.text-block p:not(:last-of-type) {
  margin-block-end: 27px;
}

.controls-block {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
  margin-block-end: 20px;
  margin-inline-end: 25px;
}

.button {
  block-size: min-content;
  background-color: transparent;
  border: 2px solid var(--main-color);
  grid-area: button;
  transition: box-shadow 0.3s ease;
  position: relative;
  color: var(--bg-color);
}

.button:focus {
  outline: none;
  border-radius: 0;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--main-color);
}

.button::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--main-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.button:hover {
  cursor: pointer;
}

.button:hover::after {
  transform: scaleX(1);
}

.card__icon-button {
  background-color: transparent;
  border: 2px solid transparent;
  transition: border 0.3s ease;
  block-size: min-content;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--main-color);
}

.like-icon:hover {
  cursor: pointer;
}

.sparks {
  opacity: 0;
}

.like-icon .core {
  fill: transparent;
  transition: fill 0.3s 0.03s linear;
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon:hover .core {
  fill: var(--contour-color);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--contour-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .heart {
  animation: scaling 0.3s ease-in 1 0.1s;
  transform-origin: center;
}

.like-icon.is-liked .sparks {
  animation: opacity-changing 0.3s ease-in 1 0.3s;
}

.like-icon .contour {
  transition: fill 0.1s linear;
}

.card__like-button {
  min-inline-size: 130px;
  padding: 6px;
  margin-block-end: 5px;
}

.button__text {
  font-family: var(--accent-font), fantasy, Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.2;
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
  grid-area: text;
}

.button__save {
  inline-size: clamp(306px, 81.6vw, 335px);
  padding-block: 15px;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  background-color: var(--bg-color);
  margin-block-start: 4px;

  @media (width < 376px) {
    flex-direction: column;
  }
}

.button svg {
  inline-size: 21px;
  aspect-ratio: 1 / 1;
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;

  @media (width < 376px) {
    inline-size: 28px;
  }
}

.dialog[open] {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-areas: 
    'svg text'
    'button button';
  gap: 30px 20px;
  align-items: center;
  padding: 30px;
  inline-size: clamp(341px, 91vw, 353px);
  font-family: var(--accent-font), fantasy, Arial, Helvetica, sans-serif;
  font-size: 14px;
  border: 2px solid var(--main-color);

  @media (width < 376px) {
    padding-inline: 40px;
  }
}

.dialog::backdrop {
  background-color: rgba(0 0 0 / 0.75);
}

.dialog .dialog__text {
  line-height: 150%;
}

.dialog .button {
  padding-block: 10px;
}

.dialog .button__text {
  line-height: 90%;
}

.dialog .save-icon {
  inline-size: 39px;
  aspect-ratio: 1 / 1;
  grid-area: svg;
}

.uppercase {
  text-transform: uppercase;
}

.zero-sprint {
  filter: brightness(125%);
}

.first-sprint_start {
  filter: grayscale(0.85);
}

.first-sprint_end {
  filter: hue-rotate(50deg);
}

.second-sprint_start {
  filter: invert();
}

.second-sprint_end {
  filter: saturate(150%);
}

.third-sprint_start {
  filter: saturate(150%) brightness(120%) grayscale(50%);
}

.third-sprint_end {
  filter: sepia();
}

.now {
  filter: contrast(110%);
}