/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    /*Шрифты*/
    --main-font: Inter-Variable;
    --accent-font: PressStart2P;
    --title-font-weight: 700;
    --text-font-weight: 400;
    --header-logo-font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
    --header-title-font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);

    /*Отступы*/
    --header-padding-block: clamp(120px, 15vh, 128px);

    /*Размеры*/
    --section-width: clamp(375px, 48.62vw, 700px);
    --img-height: clamp(375px, 48.6vw, 700px);

    /*Цвета*/
    --main-color: #000;
    --bg-color: #fff;
    --contour-color: #000;
    --animation-fill-color: #f00;
    --icon-core-color: #fff;

    /*Фон страницы*/
    --bg-image: 
        repeating-linear-gradient(to right, #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px),
        repeating-linear-gradient(to bottom, #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px),
        linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
}